*{
    padding: 0px;
    margin: 0px;
}

body{
    height: 100vh;
   background-image: url(../img/cliente.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   padding: 10px;
  
}