<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">


        <title>Bienvenido a nuestra pagina</title>


        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/skeleton.css">
        <link rel="stylesheet" href="css/custom.css">

        <link th:href="@{/css/styless.css}" rel="stylesheet" />
        <style>
            .red{
                color: red;
            }
            .yelow{
                color:#ffcc00;
            }
        </style>

    </head>
    <body>

        <header id="header" class="header">
            <div class="container">
                <div class="row">

                    <div class="four columns">
                        <img th:src="@{/img/logg.png}" class="selected" id="logo"> 
                        <img th:src="@{/img/loggii.png}" class="selected" id="logo"> 
                        <img th:src="@{/img/logii.png}" class="selected" id="logo"> 
                    </div> 
                    <div class="two columns u-pull-right">
                        <ul>
                            <li class="submenu">
                                <img src="img/login.png" alt="" id="img-carrit">
                                <div id="carrit">
                                    <div class="dropdown-menu dropdown-menu-end " aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" th:href="@{/login}">Administrador</a>
                                        <a class="dropdown-item" href="#!">Salir</a>
                                        
                                        
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    

                    <div class="two columns u-pull-right">
                        <ul>
                            <li class="submenu">
                                <img src="img/carro.png" alt="" id="img-carrito">
                                <div id="carrito">
                                    <table id="lista-carrito" class="u-full-width">
                                        <thead>
                                            <tr>
                                                <th>Imagen</th>
                                                <th>Nombre</th>
                                                <th>Precio</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                    <a href="#" id="vaciar-carrito" class="button u-full-width">Vaciar Carrito</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="row">
                        <div class="four columns">
                            <ul class="nav nav-divider">
                                <h2 >CAFÉ MERAKI</h2>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </header>

        <div id="hero">
            <div class="container">
                <div class="row">
                    <div class="six columns">
                        <div class="contenido-hero">
                            <h2>Pide tu bebida o o comida favorita</h2>
                            <p>Endulza tu vida con un buen café</p>
                            <form action="#" id="busqueda" method="post" class="formulario">
                                <input class="u-full-width" type="text" 
                                       placeholder="Que desea consumir"
                                       id="buscador"
                                       >
                                <input type="submit" id="submit-buscador" class="submit-buscador">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="barra">
            <div class="container">
                <div class="row">
                    <div class="four columns icono icono1">
                        <p>Dieferentes variadades de café<br>
                            Un sabor nuevo cada temporada
                        </p>
                    </div>
                    <div class="four columns icono icono2">
                        <p>Frappes y Bizcochos<br>
                            con productos naturales  
                        </p>
                    </div>
                    <div class="four columns icono icono3">
                        <p>Atención de Calidad<br>
                            áreas que transmiten paz
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div id="lista-cafe" class="container">
            <h1 id="encabezado" class="encabezado">Productos de la Cafetería</h1>
            <div class="row">
                <div class="four columns">
                    <div class="card">
                        <img src="img/capcap.jpg" class="u-full-width">
                        <div class="info-card">
                            <h4>Cappuccino</h4>
                            <p>Natural</p>
                            <p>Fresco</p>
                            <img src="img/estrellas.png" >
                            <p class="precio">S/.15 <span class="u-pull-right">S/.10</span></p>
                            <a href="#" 
                               class="u-full-width button-primary button input agregar-carrito
                               ">Agregar Al Carrito</a>
                        </div>
                    </div>
                </div>
                <div class="four columns">
                    <div class="card">
                        <img src="img/frapu.webp" class="u-full-width">
                        <div class="info-card">
                            <h4>Frappuccino</h4>
                            <p>Natural</p>
                            <img src="img/estrellas.png" >
                            <p class="precio">S/.13 <span class="u-pull-right">S/.9</span></p>
                            <a href="#" 
                               class="u-full-width button-primary button input agregar-carrito
                               ">Agregar Al Carrito</a>
                        </div>
                    </div>
                </div>
                <div class="four columns">
                    <div class="card">
                        <img src="img/cyl.webp" class="u-full-width">
                        <div class="info-card">
                            <h4>Cafe con leche</h4>
                            <p>Marca Hennessy</p>
                            <img src="img/estrellas.png" >
                            <p class="precio">S/.6 <span class="u-pull-right">S/.5</span></p>
                            <a href="#" 
                               class="u-full-width button-primary button input agregar-carrito
                               ">Agregar Al Carrito</a>
                        </div>
                    </div>
                </div>
            </div><!--.row-->

            <div class="row">
                <div class="four columns">
                    <div class="card">
                        <img src="img/ice.jpg" class="u-full-width">
                        <div class="info-card">
                            <h4>Ice Coffe</h4>
                            <p>Natural</p>
                            <img src="img/estrellas.png" >
                            <p class="precio">S/.9 <span class="u-pull-right">S/.8</span></p>
                            <a href="#" 
                               class="u-full-width button-primary button input agregar-carrito
                               ">Agregar Al Carrito</a>
                        </div>
                    </div>
                </div>
                <div class="four columns">
                    <div class="card">
                        <img src="img/coffee5.jpg" class="u-full-width">
                        <div class="info-card">
                            <h4>Cafe negro</h4>
                            <p>Marca Hennesy</p>
                            <img src="img/estrellas.png" >
                            <p class="precio">S/.5 <span class="u-pull-right">S/.4</span></p>
                            <a href="#" 
                               class="u-full-width button-primary button input agregar-carrito
                               ">Agregar Al Carrito</a>
                        </div>
                    </div>
                </div>
                <div class="four columns">
                    <div class="card">
                        <img src="img/esp.jpg" class="u-full-width">
                        <div class="info-card">
                            <h4>Cafe espresso</h4>
                            <p>Marca Hennessy</p>
                            <img src="img/estrellas.png" >
                            <p class="precio">S/.7 <span class="u-pull-right">S/.4</span></p>
                            <a href="#" 
                               class="u-full-width button-primary button input agregar-carrito
                               ">Agregar Al Carrito</a>
                        </div>
                    </div>
                </div>
            </div><!--.row-->

            <div class="row">
                <div class="four columns">
                    <div class="card">
                        <img src="img/jug.jpg" class="u-full-width">
                        <div class="info-card">
                            <h4>Jugo de papaya</h4>
                            <p>Natural</p>
                            <img src="img/estrellas.png" >
                            <p class="precio">S/.6 <span class="u-pull-right">S/.5</span></p>
                            <a href="#" 
                               class="u-full-width button-primary button input agregar-carrito
                               ">Agregar Al Carrito</a>
                        </div>
                    </div>
                </div>
                <div class="four columns">
                    <div class="card">
                        <img src="img/limon.jpg" class="u-full-width">
                        <div class="info-card">
                            <h4>Frozen de limón</h4>
                            <p>Natural</p>
                            <img src="img/estrellas.png" >
                            <p class="precio">S/.8 <span class="u-pull-right">S/.7</span></p>
                            <a href="#" 
                               class="u-full-width button-primary button input agregar-carrito
                               ">Agregar Al Carrito</a>
                        </div>
                    </div>
                </div>
                <div class="four columns">
                    <div class="card">
                        <img src="img/fresa.jpg" class="u-full-width">
                        <div class="info-card">
                            <h4>Frappe de fresa</h4>
                            <p>Natural</p>
                            <img src="img/estrellas.png" >
                            <p class="precio">S/.15 <span class="u-pull-right">S./11</span></p>
                            <a href="#" 
                               class="u-full-width button-primary button input agregar-carrito
                               ">Agregar Al Carrito</a>
                        </div>
                    </div>
                </div>
            </div><!--.row-->

            <div class="row">
                <div class="four columns">
                    <div class="card">
                        <img src="img/bizco.JPG" class="u-full-width">
                        <div class="info-card">
                            <h4>Bizcocho</h4>
                            <p>Natural</p>
                            <img src="img/estrellas.png" >
                            <p class="precio">S/.5 <span class="u-pull-right">S/.4.5</span></p>
                            <a href="#" 
                               class="u-full-width button-primary button input agregar-carrito
                               ">Agregar Al Carrito</a>
                        </div>
                    </div>
                </div>
                <div class="four columns">
                    <div class="card">
                        <img src="img/pastel.jpg" class="u-full-width">
                        <div class="info-card">
                            <h4>Pastel</h4>
                            <p>Natural</p>
                            <img src="img/estrellas.png" >
                            <p class="precio">S/.6.5 <span class="u-pull-right">S./5</span></p>
                            <a href="#" 
                               class="u-full-width button-primary button input agregar-carrito
                               ">Agregar Al Carrito</a>
                        </div>
                    </div>
                </div>
                <div class="four columns">
                    <div class="card">
                        <img src="img/nectar.jpg" class="u-full-width">
                        <div class="info-card">
                            <h4>Néctar de café</h4>
                            <p>Natural</p>
                            <img src="img/estrellas.png" >
                            <p class="precio">S/.15 <span class="u-pull-right">S/.12</span></p>
                            <a href="#" 
                               class="u-full-width button-primary button input agregar-carrito
                               ">Agregar Al Carrito</a>
                        </div>
                    </div> 
                </div>
            </div><!--.row-->
        </div>

        <footer>
            <p> &copy Derechos Reservados lima-Perú-2022</p>
            <img src="img/twitter.png" alt="">
            <img src="img/youtube.png" alt="">
        </footer>

        <script src="js/app.js"></script>
    </body>
</html>
