<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
    <head th:replace="layout/layout :: head">
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container-fluid" layout:fragment="page-content">            
            <nav class="navbar navbar-light bg-light m-2">
                <h4 class="ps-3"><i class="fa-solid fa-coffee me-2"></i>Café Meraki</h4>
            </nav>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3 mt-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Clientes</h5>
                                <p class="card-text">Mantenimiento de la Tabla de Clientes.</p>
                                <a th:href="@{/cliente}" class="btn btn-primary align-items-center">
                                    <strong class="me-2">Clientes</strong><i class="fa-solid fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 mt-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Empleados</h5>
                                <p class="card-text">Mantenimiento de la Tabla de Producto.</p>
                                <a th:href="@{/empleado}" class="btn btn-primary">
                                    <strong class="me-2">Empleados</strong><i class="fa-solid fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 mt-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Productos</h5>
                                <p class="card-text">Mantenimiento de Tabla de Productos.</p>
                                <a th:href="@{/producto}" class="btn btn-primary">
                                    <strong class="me-2">Productos</strong><i class="fa-solid fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 mt-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Detalle</h5>
                                <p class="card-text">Mantenimiento de Tabla de Detalle.</p>
                                <a th:href="@{/detalle}" class="btn btn-primary">
                                    <strong class="me-2">Detalle</strong><i class="fa-solid fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 mt-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Ventas</h5>
                                <p class="card-text">Mantenimiento de Tabla de Ventas.</p>
                                <a th:href="@{/venta}" class="btn btn-primary">
                                    <strong class="me-2">Ventas</strong><i class="fa-solid fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 mt-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Nosotros</h5>
                                <p class="card-text">Opciones de ayuda e información.</p>
                                <a th:href="@{/portal}" class="btn btn-primary">
                                    <strong class="me-2">Nosotros</strong><i class="fa-solid fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    
                </div><!--<!-- comment -->
            </div>
        </div>
        <!--OTRO SCRIPTS PARA PAGINAS-->
    <th:block layout:fragment="page-scripts">

    </th:block>
</body>
</html>
