<!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/css/style.css}" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
        <script th:src="@{/js/mmm.js}"></script>

        <title>Bienvenido a nuestra pagina</title>
    </head>
    <body>

        <div class="container-form sign-up">
            <div class="welcome-back">
                <div class="message">
                    <h2>Bienvenido a Cafe Meraki</h2> 
                    <p>Si ya tienes una cuenta por favor inicia sesion aqui</p>
                    <button class="sign-up-btn">Iniciar Sesion</button>
                </div>
            </div>
            <form class="formulario">
                <h2 class="create-account">Crear una cuenta</h2>
                <div class="iconos">
                    <div class="border-icon">
                        <i class='bx bxl-instagram'></i>
                    </div>
                    <div class="border-icon">
                        <i class='bx bxl-linkedin' ></i>
                    </div>
                    <div class="border-icon">
                        <i class='bx bxl-facebook-circle' ></i>
                    </div>
                </div>
                <p class="cuenta-gratis">Crear una cuenta gratis</p>
                <input type="text" placeholder="Nombre">
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Contraseña">
                <input type="button"  value="Registrarse">
            </form>
        </div>
        <div class="container-form sign-in">
            <form class="formulario">
                <h2 class="create-account">Iniciar Sesion</h2>
                <div class="iconos">
                    <div class="border-icon">
                        <i class='bx bxl-instagram'></i>
                    </div>
                    <div class="border-icon">
                        <i class='bx bxl-linkedin' ></i>
                    </div>
                    <div class="border-icon">
                        <i class='bx bxl-facebook-circle' ></i>
                    </div>
                </div>
                <p class="cuenta-gratis">¿Aun no tienes una cuenta?</p>
                <img src="img/user.png" width="120" height="120" alt="">
                <input type="email" placeholder="Email" class="caja" id="correo">
                <input type="password" placeholder="Contraseña" class="caja" id="pass">


                <button type="button" style="background-color: skyblue" onclick="log()">Iniciar sesión</button><br>
                <a th:href="@{/index2}" class="btn btn-primary">
                                    <strong class="me-2">Ir</strong><i class="fa-solid fa-angle-right"></i>
                                </a>
            </form>
            <div class="welcome-back">
                <div class="message">
                    <h2>Bienvenido Nuevamente</h2>
                    <p>Si aun no tienes una cuenta por favor registrese aqui</p>
                    <button class="sign-in-btn">Registrarse</button>
                </div>
            </div>
        </div>
        <script th:src="@{/js/script.js}"></script>
    </body>
</nav>
</div>


</body>
</html>
